<html>
	<head>
		<title>Marble Madness Level Editor</title>
		<script type="text/javascript" src="/third-party-libs/jquery-3.1.1.min.js"></script>
		<script type="text/javascript" src="/third-party-libs/three.min.js"></script>
		<script type="text/javascript" src="/third-party-libs/jscolor.js"></script>
		<script type="text/javascript" src="/libs/FirstPersonControls.js"></script>
		<script type="text/javascript" src="/libs/MarbleViewEngine.js"></script>
		<script type="text/javascript" src="/libs/levelEditor.js"></script>
	  	<link type="text/css" href="/css/main.css" rel="stylesheet" />
	</head>
	<body oncontextmenu="return false">
		<div id="scene-container">
		<div id="settings-container">
			<img id="settings" src="/images/settings.svg" border="0" class="selectable" />
		</div>
		<div id="shape-select-container">
			<div id="selected-shape-container" class="left" style="margin-left:3px;margin-top:3px;">
				<img id="selected-shape" src="images/square.png" border="0" class="selectable" onclick="toggleShapeSelect()" />
			</div>
			<div class="right">
				<div class="table">
					<div class="row">
						<div class="cell" style="padding-bottom:2px;"><img src="images/up-arrow.png" border="0" class="selectable" onclick="rotateUp()" /></div>
					</div>
					<div class="row">
						<div class="cell" style="padding-top:2px;"><img src="images/down-arrow.png" border="0" class="selectable" onclick="rotateDown()" /></div>
					</div>
				</div>
			</div>
			<div class="clear"></div>
			<div class="table" style="margin-left:1px;">
				<div class="row">
					<div class="cell left-aligned" style="padding-right:2px;"><img src="images/left-arrow.png" border="0" class="selectable" onclick="rotateLeft()" /></div>
					<div class="cell right-aligned" style="padding-left:2px;"><img src="images/right-arrow.png" border="0" class="selectable" onclick="rotateRight()" /></div>
				</div>
			</div>
			<div id="all-shapes" class="table" style="display: none;">
				<div class="row">
					<div class="cell centered"><img src="images/square.png" border="0" class="selectable" onclick="setShape('square')" /></div>
					<div class="cell centered"><img src="images/triangle.png" border="0" class="selectable" onclick="setShape('triangle')" /></div>
					<div class="cell centered"><img src="images/pyramid.png" border="0" class="selectable" onclick="setShape('pyramid')" /></div>
				</div>
			</div>
		</div>
		<div id="color-select-container"><input type="button" id="color-select" class="jscolor" onchange="setColor(this.jscolor)" /></div>
		<script type="text/javascript">	
			var startColor = "#ff0000";

			$("#color-select").val(startColor);

			var levelEditor = (new LevelEditor());
			levelEditor.start("scene-container", startColor);

			// ---- Data access methods

			function getURLParam(name) {
				var urlParts = window.location.href.split("/");

				if (urlParts.length > 0) {
					var lastElement = urlParts[urlParts.length - 1];

					if (/^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$/.test(lastElement)) return lastElement;
					else return null;
				}
			}

			var sceneId = getURLParam("id");

			if (sceneId != null) levelEditor.load(sceneId);

			function saveScene() {
				levelEditor.save();
			}

			// ----- Methods to set colors

			function setColor(color) {	
				levelEditor.setColor(color.toString());
			}

			// ----- Methods for managing shapes

			function toggleShapeSelect() {
				if ($("#all-shapes").is(":visible")) hideShapeSelect();
				else openShapeSelect();
			}

			function openShapeSelect() {
				$("#all-shapes").show();	
			}

			function hideShapeSelect() {
				$("#all-shapes").hide();
			}

			function setShape(shape) {
				levelEditor.setShape(shape);

				$("#selected-shape").attr("src", "images/" + shape + ".png");

				hideShapeSelect();
			}

			// ----- Methods for rotating a shape

			function rotateLeft() {
				levelEditor.setXRotation(-90);
			}

			function rotateRight() {
				levelEditor.setXRotation(90);
			}

			function rotateUp() {
				levelEditor.setYRotation(-90);				
			}

			function rotateDown() {
				levelEditor.setYRotation(90);
			}

			// ----- Event binding

			document.addEventListener('keyup', function(e) {
				var keyCode = e.code.toLowerCase();
				var level = levelEditor.getLevel();

				if (keyCode == "arrowup") levelEditor.setLevel((level+1));
				else if (keyCode == "arrowdown") levelEditor.setLevel((level-1));
			}, false);
		</script>
	</body>
</html>