<html>
	<head>
		<title>Marble Madness Level Editor</title>
		<script type="text/javascript" src="/third-party-libs/jquery-3.1.1.min.js"></script>
		<script type="text/javascript" src="/third-party-libs/three.min.js"></script>
		<script type="text/javascript" src="/libs/FirstPersonControls.js"></script>
		<script type="text/javascript" src="/libs/MarblesViewEngine.js"></script>
		<script type="text/javascript" src="/libs/MarblesGeometry.js"></script>
		<script type="text/javascript" src="/libs/levelViewer.js"></script>
		<script type="text/javascript" src="/libs/general.js"></script>
		<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	  	<link type="text/css" href="/css/site.css" rel="stylesheet" />
	  	<link type="text/css" href="/css/main.css" rel="stylesheet" />
	</head>
	<body>
		<div id="scene-container">
	</body>
</html>