<div id="controls-dialog" class="modal-dialog">
	<h3>Controls</h3>
	<h4>Movement</h4>
	<div class="table">
		<div class="row">
			<div class="cell">W</div>
			<div class="cell controls-seperator">-</div>
			<div class="cell">Move Forward</div>
		</div>
		<div class="row">
			<div class="cell">S</div>
			<div class="cell controls-seperator">-</div>
			<div class="cell">Move Backward</div>
		</div>
		<div class="row">
			<div class="cell">A</div>
			<div class="cell controls-seperator">-</div>
			<div class="cell">Move Left</div>
		</div>
		<div class="row">
			<div class="cell">D</div>
			<div class="cell controls-seperator">-</div>
			<div class="cell">Move Right</div>
		</div>
		<div class="row">
			<div class="cell">R</div>
			<div class="cell controls-seperator">-</div>
			<div class="cell">Move Up</div>
		</div>
		<div class="row">
			<div class="cell">F</div>
			<div class="cell controls-seperator">-</div>
			<div class="cell">Move Down</div>
		</div>
	</div>
	<br/>
	<h4>Look</h4>
	<div class="table">
		<div class="row">
			<div class="cell">Q</div>
			<div class="cell controls-seperator">-</div>
			<div class="cell">Look Left</div>
		</div>
		<div class="row">
			<div class="cell">E</div>
			<div class="cell controls-seperator">-</div>
			<div class="cell">Look Right</div>
		</div>
		<div class="row">
			<div class="cell">Z</div>
			<div class="cell controls-seperator">-</div>
			<div class="cell">Look Up</div>
		</div>
		<div class="row">
			<div class="cell">X</div>
			<div class="cell controls-seperator">-</div>
			<div class="cell">Look Down</div>
		</div>
	</div>
	<br/>
	<h4>Grid</h4>
	<div class="table">
		<div class="row">
			<div class="cell">Up Arrow</div>
			<div class="cell controls-seperator">-</div>
			<div class="cell">Move the grid level up</div>
		</div>
		<div class="row">
			<div class="cell">Up Down</div>
			<div class="cell controls-seperator">-</div>
			<div class="cell">Move the grid level Down</div>
		</div>
		<div class="row">
			<div class="cell">Left Arrow</div>
			<div class="cell controls-seperator">-</div>
			<div class="cell">Rotate the grid left</div>
		</div>
		<div class="row">
			<div class="cell">Rght Arrow</div>
			<div class="cell controls-seperator">-</div>
			<div class="cell">Rotate the grid right</div>
		</div>
	</div>
	<br/>
	<div class="form">
		<div class="right"><button onclick="closeModalDialog();">Close</button></div>
		<div class="clear"></div>
	</div>
</div>