<script type="text/javascript">
	function completeDialog() {
		var name = $("#edit-scene-name").val();

		if (name.length > 0) updateScene(name);
		else $("#name-validation").show()
	}
</script>

<div id="edit-dialog" class="modal-dialog">
	<h3>Edit</h3>
	<h4>Name<span id="name-validation" class="error" style="display: none;"> * Required</span></h4>
	<div class="form">
		<div><input type="text" id="edit-scene-name"></div>
		<br/>
		<div class="left"><button onclick="closeModalDialog();">Close</button></div>
		<div class="right"><button onclick="completeDialog();">Update</button></div>
		<div class="clear"></div>
	</div>
</div>