<div id="controls-dialog" class="modal-dialog">
	<h3>Welcome to Marbles 3D Web Painter</h3>
	<p>In order to paint click left mouse button. If you want to erase use the right mouse button. You can also look around with the middle mouse button.</p>
	<p>You can move with [W][A][S][D][R][F] and control the grid using the arrow keys. You can find the full list by clicking "Controls" in the settings menu.</p>
	<p>The code is available if you are interested on GitHub at <a href="https://github.com/gmarland/Marbles-3D-Web-Painter" target="_blank">https://github.com/gmarland/Marbles-3D-Web-Painter</a>. If you have some thoughts then please let me know <a href="https://twitter.com/garethmarland" target="_blank">@garethmarland</a></p>
	<br/>
	<div class="form">
		<div class="right"><button onclick="closeModalDialog();">Close</button></div>
		<div class="clear"></div>
	</div>
</div>